<div class="row">
    <div class="col-md-12 text-center">
        <h2>Liste d'enseignants</h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>
                    User
                </th>
                <th>
                    grCM
                </th>
                <th>
                    grTP
                </th>
                <th>
                    grTD
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let enseigne of enseignes">
                    <td>
                        {{enseigne.user.Identifiant}}
                    </td>
                    <td>
                        {{enseigne.grCM}}
                    </td>
                    <td>
                        {{enseigne.grTP}}
                    </td>
                    <td>
                        {{enseigne.grTD}}
                    </td>
                    <td>
                    <a href="edit-user/{{enseigne._id}}" class ="btn btn-success">EDIT</a>
                    <button (click)="delEnseigne(enseigne)" class="btn btn-danger">DELETE</button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>